// Reset Carbon Fields
.carbon-theme-options #post-body.columns-2 #postbox-container-1.fixed {
    left: 0 !important;
    right: auto !important;
    margin-left: 20px !important;
}

#post-body.columns-2 #postbox-container-1 {
    float: left !important;
    margin-left: -300px !important;
    width: 280px !important;
}

// Reset Font
%default-font {
	font-family: tahoma !important;
}
// Assing font to elements
h2, h3 {
	@extend %default-font;
}

#km_product_information table {
	width: inherit;
    text-align: right;
    background: #3a3a3a;
    color: #fff;
    height: 100%;
    position: absolute;
    font-size: 15px;
    text-align: center;

	th {
		font-size: 16px;
		background: #484848;
	}

    td {
		font-size: 15px;
    	font-family: sans-serif;
	}
}
#km_product_information table,
#km_product_information table th,
#km_product_information table td {
	border-collapse: collapse;
}

// .km_fee_price {
//     direction: ltr;
//     background: #ffef9f;
//     border: none !important;

//     &.is-right {
//         direction: rtl;
//     }
// }

// .km_clearance_price {
//     direction: ltr;
//     background: #aaaaff;
//     border: none !important;

//     &.is-right {
//         direction: rtl;
//     }
// }

.km_fee_price,
.km_clearance_price {
    text-align: left;
    direction: ltr;
}


.cf-container__tabs-item--current {
  background-color: #5699ff !important;
  color: #fff !important;
  border-color: #5699ff !important;

  &:hover {
    background-color: #2b79f1 !important;
    color: #fff;
    border-color: #2b79f1 !important;
  }
}

.currencies {
    display: flex;
    justify-content: center;

    .column {
        flex: 1;
        text-align: center;
        background: #3485ad;
        margin: 4px;
        border-radius: 4px;
        padding: 10px;
        font-family: sans-serif;
        color: #fff;      
        font-size: 14px;
        background: linear-gradient(to bottom, #1c513f, #2f936a);
        background: -webkit-linear-gradient(to bottom, #1c513f, #2f936a);

        b {
            text-align: center;
        }

        span {
            text-align: center;
        }
    }
}