* {
	
}

.shopping_websites {
	display: flex;
	border: 1px solid pink;
	min-height: 50px;
}

.shopping_websites > span {
	flex: 1;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #000;
	cursor: pointer;
	transition: all .3s ease;
}

.shopping_websites > span:hover {
	transform: scale(1.1);
}


/* Amazon (com)*/
#amazon_website {
	background-image: url('../img/amazon.png');
}

/* Amazon (ae)*/
#amazonae_website {
	background-image: url('../img/amazonae.png');
}

/* Ebay */
#ebay_website {
	background-image: url('../img/ebay.png');
}

/* 6PM */
#sixpm_website {
	background-image: url('../img/sixpm.png');
}

/* AliExpress */
#aliexpress_website {
	background-image: url('../img/aliexpress.png');
}